:root{
    --ff-orange: #f68925;
    --ff-cream : #f6
}

.header_class{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
}

/* .header-sec{
    display: flex;
} */