:root{
    --ff-orange: #f68925
}



.header-sec{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align
}





.logo{
    border-radius: 50%;
}

.shopping_logo{
     display: flex;
     justify-content: center;
    height: 100px;
    width: auto;
    
}
.add_to_cart_logo{
    border-image-slice: 10%;
}