:root{
    --ff-orange: #f68925;
    --ff-cream : #f1d5bafa;
}

.header_class{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--ff-cream) ;

}
.logo-div{
    border-radius: 50%;
    height: 40%;
    wi
}

 .header-sec{
     display: flex; 
     flex-wrap: wrap;
     align-items:center;
     justify-content: space-evenly;
     gap: 120px;
} 

.navbar-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    border-radius: 50%;
}