:root{
    --ff-orange: #f68925;
    --ff-cream : #f1d5bafa;
}

.header_class{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--ff-cream) ;
}

 .header-sec{
     display: flex; 
     align-items:center;
     justify-content: space-between;
} 