:root{
    --ff-orange: #f68925;
    --ff-cream : #ebc29be0;
}

.header_class{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--ff-cream) ;
}

/* .header-sec{
    display: flex;
} */